.badge{
    display: inline-flex;
    align-items:center;
    border-radius: 20px;
    /* background-color: yellowgreen; */
    padding: 5px;
    color: rgb(255, 255, 255);
    margin-bottom: 4px;
    transition: 0.2s;
}

/* .badge > svg{
    background-color: rgb(36, 55, 70);
    border-radius: 50%;
    padding: 4px;
} */

.badge_text{
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    /* text-shadow: 1px 1px 1px rgb(56, 56, 56) */
}

.demo_link{
    color:black;
    background-color: white;
}

.badge_js{
    background-color: rgb(207, 176, 0);
}

.badge_html{
    background-color: rgb(255, 115, 0);
}

.badge_css{
    background-color: rgb(0, 119, 255);
}
.badge_bootstrap{
    background-color: rgb(119, 0, 255);
}
.badge_flask{
    background-color: rgb(224, 224, 224);
    color: black;
}
.badge_angular{
    background-color: rgb(219, 1, 1);
    color: white;
}
.badge_postgres{
    background-color: #336791;
    color: white;
}
.badge_php{
    background-color: #777bb3;
    color: white;
}
.badge_occ{
    background-color: rgb(8, 60, 174);
    color: white;
}
.badge_linkedin{
    background-color: #0A66C2;
    color: white;
}
.badge_cv{
    background-color: rgb(0, 183, 255);
    color: white;
}
.badge_node{
    background-image: linear-gradient(45deg, #457739, #67d44c);
    color: white;
}
.badge_python{
    background-image: linear-gradient(45deg, rgb(0, 89, 255), rgb(255, 252, 57));
}
.badge_django{
    background: #0C4B33;
}
.badge_redis{
    background: rgb(255, 51, 0);
}
.badge_email{
    background: #dd4b39;
}

.badge_mysql{
    background-image: linear-gradient(45deg, rgb(45, 108, 226), rgb(194, 194, 193));
}

.badge:hover{
    scale: 1.05;
    box-shadow: 0px 0px 7px cyan;
    
}