:root {
    --avatar-size: 200px;
    --font-body: 'Ubuntu';
    --color-principal: #fff;
    --color-p:#ebebeb;
}
body{
    /* position: relative; */
    font-family: var(--font-body);
    font-family:Arial, Helvetica, sans-serif;
    padding: auto;
    margin: auto;
    width: 100%;
    background-color: rgb(26, 40, 51);
    overflow-x:hidden;
}

p {
    color: var(--color-p);
}

ul > li{
    margin-bottom: 8px;
}

/* ------ Navbar ------ */

nav {
    z-index: 1;
    position: sticky;
    top:0;
    padding: 10px;
    background-color: rgba(32, 32, 32, 0.5);
    backdrop-filter: blur(4px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

nav > a {
    text-decoration: none;
    /* border: 2px solid rgb(29, 29, 29); */
    border-radius: 15px;
    padding: 5px 10px;
    color: #ffe;
    background-color: rgb(50,50,50);
    align-content: center;
}

nav > a:hover{
    scale: 1.1;
    background-color: rgb(65, 65, 65);
}

#lightdark {
    /* border-radius: 5px; */
    cursor: pointer;
}
#lightdark:hover {
    scale: 1.1;
}

/* ------ Portafolio ------ */

h3{
    margin-bottom: 5px;
}

#portafolio{
    color: var(--color-principal);
    /* justify-content: center; */
    margin: 50px auto;
    padding: 10px;
    max-width: 600px;
}

#presentacion{
    height: 80%;
    width: 100%;
    /* border: 1px solid white; */
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

#avatar{
    /* margin: auto; */
    flex: 200px;
    width: var(--avatar-size);
    height: var(--avatar-size);
    border: 5px rgb(101, 188, 255);
    border-style: inset;
    border-radius: 50%;
    margin: auto;
    overflow: hidden;
    order: 1;
}

#avatar:hover{
    animation: 2s ringcolor infinite linear;
    scale: 1.04;
}

#avatar > img{
    width: 100%;
}

#descripcion{
    flex:360px;
    padding: 15px;
    width: 100%;
    order:2;
    font-weight: 500;
}

#descripcion p{
    margin: 5px 2px;
}

#descripcion > h1{
    margin-top: 5px;
    margin-bottom: 5px;
}

.mi_nombre{
    color:rgb(46, 155, 238);;
}

.subdate{
    color:gray;
    font-size: 16px;
}

.titulo_seccion{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 0px;
}

.titulo_seccion > h2{
    margin:0px 10px;
}

.break-line{
    border: 1px solid rgb(187, 187, 187);
    border-radius: 1px;
}

.break-line-b{
    height: 5px;
    /* border: 1px solid black; */
    background-color: rgba(70, 70, 70, 0.5);
    border-radius: 5px;
}

.break-line-c{
    height: 5px;
    /* border: 1px solid black; */
    background-color: rgb(49, 75, 95);
    border-radius: 5px;
}

.mb-div-lit{
    margin-bottom: 15px;
}

.mb-div{
    margin-bottom: 30px;
}

.mb-div-2{
    margin-bottom: 60px;
}

/* ----- Proyectos ----- */


.card_project{
    display: grid;
    grid-template-columns:1fr 2fr;
    border-radius: 20px;
    /* border: 2px solid rgb(36, 55, 70); */
    background-color: rgb(36, 55, 70);
    align-items: center;
    padding: 10px;
    margin-top: 5px;
}

.card_image{
    width: 250px;
    height: 230px;
    border-radius: 10px;
    overflow: hidden;
}

.card_content{
    margin-left: 15px;
}
.card_title{
    margin: 5px 0;
}

.card_image > img{
    height: 100%;
    /* max-width: 300px; */
}

.badge{
    display: inline-flex;
    align-items:center;
    border-radius: 20px;
    /* background-color: yellowgreen; */
    padding: 5px;
    color: rgb(255, 255, 255);
    margin-bottom: 2px;
}

/* .badge > svg{
    background-color: rgb(36, 55, 70);
    border-radius: 50%;
    padding: 4px;
} */

.badge_text{
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    /* text-shadow: 1px 1px 1px rgb(56, 56, 56) */
}

.demo_link{
    color:black;
    background-color: white;
}

.badge_js{
    background-color: rgb(223, 189, 0);
}

.badge_html{
    background-color: rgb(255, 115, 0);
}

.badge_css{
    background-color: rgb(0, 119, 255);
}
.badge_bootstrap{
    background-color: rgb(119, 0, 255);
}
.badge_flask{
    background-color: rgb(224, 224, 224);
    color: black;
}
.badge_python{
    background-image: linear-gradient(45deg, rgb(0, 89, 255), rgb(255, 252, 57));
}
.badge_mysql{
    background-image: linear-gradient(45deg, rgb(45, 108, 226), rgb(194, 194, 193));
}

.badge:hover{
    scale: 1.05;
    box-shadow: 0px 0px 5px cyan;
    
}

/* ---- Sobre mi ---- */
#content_sobre_mi{
    display: block;
    align-items: center;
}
#text_sobre_mi{
    /* flex: 370px; */
}

#img_sobre_mi{
    /* flex: 200px; */
    /* text-align: center; */
}

#img_sobre_mi > img{
    width: 100%;
    max-width: var(--avatar-size);
}

#paleta{
    position: relative;
    top:-45px;
    max-height: 245px; 

    /* overflow: hidden;  */
    float: right;
    /* border: 2px solid black; */
}

@media screen and (max-width: 640px) {
    #avatar{
        /* flex: 100%; */
        flex:none;
    }

    /* --- Card ---- */
    .card_project{
        grid-template-columns:1fr;
        overflow-x: hidden;
    }
    .card_image{
        margin: auto;
    }

    #content_sobre_mi{
        display: block;
    }
    #img_sobre_mi{
        text-align: center;
    }
}

@keyframes ringcolor {
    0% {
        border-color:rgb(101, 188, 255);
    }
    33% {
        border-color:rgb(255, 157, 101);
    }
    66% {
        border-color:rgb(127, 255, 101);
    }
    100% {
        border-color:rgb(101, 188, 255);
    }
}