@import url("./badges.css");
@import url("./proyect_card.css");
@import url("./scrollbar.css");
@import url("./galeria.css");

::view-transition-image-pair(root) 
{
  isolation: auto;
}

::view-transition-old(root),
::view-transition-new(root){
    animation: none;
    mix-blend-mode: normal;
}


:root {
    --avatar-size: 200px;
    --font-body: 'Ubuntu';
    --bg-color:rgb(26, 40, 51);
    --bg-color-portfolio:rgb(231, 231, 231, 0);
    --color-principal: #fff;
    --color-p:#ebebeb;
    --color-nav:rgba(32, 32, 32, 0.5);
    --color-nav-a:#ffe;
    --color-nav-bg-a:rgb(65, 65, 65);
    --color-nav-bg-a-hover:rgb(80, 80, 80);
    --resaltado-color:rgb(236, 145, 60);
    --color-miNombre: rgb(46, 155, 238);
    --color-subdate:rgb(155, 154, 154);
    --color-breakline:rgb(187, 187, 187);
    --color-breakline-b:rgba(70, 70, 70, 0.5);
    --color-breakline-c:rgb(49, 75, 95); 
    --footer-color: cadetblue;
    
    --bg-color-card: rgb(36, 55, 70);
    
    --badge-hover-color: cyan;
   
    /* --bg-color:rgb(164, 198, 214);
    --bg-color-portfolio:rgb(241, 241, 241);
    --color-principal: black;
    --color-p:black;
    --color-nav:rgba(11, 98, 148, 0.5);
    --color-nav-a:#ffe;
    --color-nav-bg-a:rgb(36, 106, 134);
    --color-nav-bg-a-hover:rgb(41, 123, 155);
    --resaltado-color:rgb(202, 100, 3);
    --color-miNombre: rgb(1, 105, 185);
    --color-subdate:rgb(72, 78, 82);
    --color-breakline:rgb(109, 163, 194);
    --color-breakline-b:rgba(49, 141, 216, 0.5);
    --color-breakline-c:rgb(36, 145, 228);
    --footer-color: rgb(1, 117, 121);

    --bg-color-card: rgb(146, 198, 238);

    --badge-hover-color: rgb(0, 175, 175); */

    scroll-behavior:smooth;
    scroll-padding: 65px;
}

/* #lightdark[current-theme="dark"]{
    background-color:red;
}

#lightdark[current-theme="light"]{
    background-color:blue;
} */

body{
    /* position: relative; */
    font-family: var(--font-body);
    font-family:Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: var(--bg-color);
    overflow-x:hidden;
}

p {
    color: var(--color-p);
}

ul > li{
    margin-bottom: 8px;
}

/* ------ Navbar ------ */

nav {
    z-index: 1;
    position: sticky;
    top:0;
    padding: 10px;
    background-color: var(--color-nav);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    border-bottom: 2px rgb(64, 114, 189) solid;
}

nav > a {
    position: relative;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    /* border: 2px solid rgb(29, 29, 29); */
    border-radius: 15px;
    padding: 5px 10px;
    color: var(--color-nav-a);
    font-weight: bold;
    background-color: var(--color-nav-bg-a);
}

nav > a:hover{
    /* scale: 1.1; */
    background-color: var(--color-nav-bg-a-hover);
}

#svgHome{
    position: relative;
    margin: 0 2px;
    bottom: 2px;
}

#lightdark {
    width: 24px;
    height: 24px;
    position: relative;
    cursor: pointer;
}

#svgDark, #svgLight{
    position: absolute;
    
}

#lightdark[current-theme="dark"] #svgDark{
    animation: 1s themeAppear forwards;
    
}

#lightdark[current-theme="light"] #svgLight{
    animation: 1s themeAppear forwards;
    
}

#lightdark[current-theme="dark"] #svgLight{
    animation: 1s themeDisappear forwards;
    
}

#lightdark[current-theme="light"] #svgDark{
    animation: 1s themeDisappear forwards;
    
}

/* ------ Portafolio ------ */

h3{
    margin-bottom: 5px;
}

#portafolio{
    /* view-transition-name: portafolio; */
    color: var(--color-principal);
    /* justify-content: center; */
    background-color: var(--bg-color-portfolio);
    /* margin: 50px auto; */
    margin: auto auto;
    padding: 60px 15px 50px 15px; 
    max-width: 600px;
}

#presentacion{
    height: 80%;
    width: 100%;
    /* border: 1px solid white; */
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

#avatar{
    /* margin: auto; */
    flex: 200px;
    width: var(--avatar-size);
    height: var(--avatar-size);
    border: 5px rgb(101, 188, 255);
    border-style: inset;
    border-radius: 50%;
    margin: auto;
    overflow: hidden;
    order: 1;
}

#avatar:hover{
    animation: 2s ringcolor infinite linear;
    scale: 1.04;
}

#avatar > img{
    width: 100%;
}

#descripcion{
    flex:360px;
    padding: 15px;
    width: 100%;
    order:2;
    font-weight: 500;
}

#descripcion p{
    margin: 5px 2px;
}

#descripcion > h1{
    margin-top: 5px;
    margin-bottom: 5px;
}

.mi_nombre{
    color:var(--color-miNombre);
}

.resaltado{
    font-weight: bold;
    font-style: italic;
}

.resaltado_color{
    color: var(--resaltado-color);
    font-weight: bold;
}

.subrayado{
    text-decoration: underline;
}

.subdate{
    margin: 0 0;
    color:var(--color-subdate);
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
}

/* #experiencia .subdate:not(:nth-of-type(1)), #experiencia h3:not(:nth-of-type(1)), .descripcion_exp, #text_sobre_mi p{ */
.identado{
    text-indent: 35px;
    text-align: justify;
}

.titulo_seccion{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 0px;
    color: var(--color-title);
}

.titulo_seccion > h2{
    margin:0px 10px;
}

.break-line{
    border: 1px solid var(--color-breakline);
    border-radius: 1px;
}

.break-line-b{
    height: 5px;
    /* border: 1px solid black; */
    background-color: var(--color-breakline-b);
    border-radius: 5px;
}

.break-line-c{
    height: 5px;
    /* border: 1px solid black; */
    background-color: var(--color-breakline-c);
    border-radius: 5px;
}

.mb-div-lit{
    margin-bottom: 15px;
}

.mb-div{
    margin-bottom: 30px;
}

.mb-div-2{
    margin-bottom: 60px;
}

#exp_models{
    position: relative;
    display: flex;
    height: 200px;
    width: 100%;
    /* background-color: white; */
}

#model1, #model2{
    /* position: absolute; */
    left: 1%;
    top: inherit;
    width: 100%;
    /* background-color: rgb(71, 90, 90); */
    height: 100%;
    border-radius: 20px;
    background-color: var(--bg-color-card);
    /* overflow: hidden; */
}

/* #model1 canvas{
    width: 100% ;
} */

/* ---- Sobre mi ---- */
#content_sobre_mi{
    display: block;
    align-items: center;
}
#text_sobre_mi p{
    text-align: justify;
}

#img_sobre_mi{
    /* flex: 200px; */
    /* text-align: center; */
}

#img_sobre_mi > img{
    width: 100%;
    max-width: var(--avatar-size);
}

.paleta{
    position: relative;
    top:-45px;
    max-height: 245px; 

    /* overflow: hidden;  */
    float: right;
    /* border: 2px solid black; */
}

.p_hover{
    top: 0;
    position: absolute;
    z-index: 1;
    width: 200px;
    height: 320px;
}
/* .paleta > video{
    z-index: 0;
} */

.hrTitulo_seccion{
    background: linear-gradient(-45deg, var(--hrColor) 80%, white, var(--hrColor));
    margin-top: 4px;
    height: 4px;
    border-radius: 4px;
    background-size: 150%;
    animation: background_move 3s linear infinite;
}

#footer{
    /* display: flex;
    justify-content: space-between;
    align-items:center; */
    font-weight: bold;
    color:var(--footer-color);
}

.card_icons a{
    text-decoration: none;    
}

@keyframes background_move {
    0%{
        background-position: 300%;
    }
    50%{
        background-position: 150%;
    }
    100%{
        background-position: 0%;
    }
}

@media screen and (max-width: 640px) {
    #avatar{
        /* flex: 100%; */
        flex:none;
    }

    /* --- Card ---- */
    .card_project{
        grid-template-columns:1fr;
        overflow-x: hidden;
    }
    .card_image{
        margin: auto;
    }

    #content_sobre_mi{
        display: block;
    }
    #img_sobre_mi{
        text-align: center;
    }
}

@media screen and (max-width: 520px) {
    nav{
        width: auto;
    }
}

@keyframes ringcolor {
    0% {
        border-color:rgb(101, 188, 255);
    }
    33% {
        border-color:rgb(255, 157, 101);
    }
    66% {
        border-color:rgb(127, 255, 101);
    }
    100% {
        border-color:rgb(101, 188, 255);
    }
}

@keyframes themeAppear {
    from {
        opacity: 0;
        transform: rotateZ(0deg);
    }
    to {
        opacity: 1;
        transform: rotateZ(360deg);
    }
}

@keyframes themeDisappear {
    from {
        opacity: 1;
        transform: rotateZ(0deg);
    }
    to {
        opacity: 0;
        transform: rotateZ(360deg);
    }
}