
#galeria{
    display: none;
    position:fixed;
    top: 0;
    background-color: rgba(70, 81, 100, 0.5);
    backdrop-filter: blur(2px);
    z-index: 2;
    width: 100%;
    height: 100%;
    align-content: center;
}

.galery_content{
    z-index: 3;
    position:relative;
    padding: 0px;
    color: white;
    margin: auto;
    background-color: rgb(73, 88, 114);
    width: 90%;
    height: 90%;
    border-radius: 35px;
    overscroll-behavior-y: contain;
    overflow: hidden;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 75% 25%;
}

#galery_close{
    font-family: monospace;
    color: white;
    background-color: rgb(73, 88, 114);
    border-radius: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 1%;
    top: 1%;
    z-index: 3;
}

#galery_close:hover{
    cursor: pointer;
    background-color: rgb(93, 110, 141);
}

#galery_image{
    display: flex;
    position: relative;
    height: 90%;
    margin: auto;
    align-content: center;
}

#galery_image > img{
    margin: auto;
    border-radius: 20px;
    max-height: 100%;
}

#galery_image_list{
    margin: auto;
    padding: 5px;
    position:relative;
    background-color: rgb(100, 115, 143);
    border-radius: 20px;
    overflow-x: auto;
    
    overscroll-behavior-y: contain;
    height: 90%;
    width: 95%;
    align-content: center;
    display: flex;
    /* justify-content: space-around; */
}


#galery_image_list > img{
    margin-bottom: 5px;
    border-radius: 20px;
    max-height: 95%;
    margin: 2px;
    transition: 0.2s;
    /* max-width: 90%; */
}

#galery_image_list > img:hover{
    box-shadow: 0px 0px 10px cyan;
    scale: 1.1;
    /* border: 2px solid white; */
    cursor: pointer;
    /* z-index: 4; */
    /* max-width: 90%; */
}

@media only screen and (max-width: 830px){
    #galery_image{
        width: 90%;
        height: auto;
    }

    #galery_image > img{
        max-width: 100%;
        height: auto;
    }
}