/* ----- Proyectos ----- */

.card_project{
    display: grid;
    max-height: 270px;
    grid-template-columns:1fr 2fr;
    border-radius: 20px;
    /* border: 2px solid rgb(36, 55, 70); */
    background-color: rgb(36, 55, 70);
    align-items: center;
    padding: 10px;
    margin-top: 5px;
}

.card_image{
    position: relative;
    width: 250px;
    height: 230px;
    border-radius: 10px;
    overflow: hidden;
}

.card_content{
    margin-left: 15px;
}
.card_title{
    margin: 5px 0;
}

.card_text{
    max-height: 110px;
    overflow-y: auto;
    overscroll-behavior: contain;
}

.card_icons{
    max-height: 76px;
}

.card_image > img{
    height: 100%;
    /* max-width: 300px; */
    transition: 0.4s
}

.card_image:hover{
    box-shadow: 0px 0px 10px cyan;
    scale: 1.01;
}
.card_image:hover > img{
    scale:1.25;
    cursor:pointer;
    /* max-width: 300px; */
}

.card_image > .show_gallery{
    opacity: 0;
    position: absolute;
    color: rgb(49, 75, 95);
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 35%;
    top: 45%;
    transition: 0.4s
}

.card_image:hover > .show_gallery {
    opacity: 1;

    /* align-items: center; */
    scale: 1.25;
    cursor:pointer;
    color: rgb(2, 139, 139);
}

.show_gallery p {
    color: rgb(2, 139, 139);
    margin: 0;
}

@media only screen and (max-width: 640px){
    .card_project{
        max-height: fit-content;
    }

}
