/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(84, 123, 151); 
    border-radius: 10px;

  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(49, 75, 95); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(58, 96, 122); 
  }