/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(107, 161, 201); 
    border-radius: 10px;

  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(62, 103, 134); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(72, 122, 155); 
  }